*, *::before, *::after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

html, body, #calendar-app {
  height: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.2em;
  margin: 0;
  padding: 0;
}

.layoutCalendar {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  color: white;
  transition: background-color .5s;
}
